<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Simplook</title>
</head>
<body>
<div id="titre"><h1>SIMPLOOK</h1></div>
<div id="test">
<button onclick="getGroups()">GET GROUP</button>
<button onclick="getFriends()">GET FRIEND</button>

<button onclick="joinGroup(1)">joinGroup</button>
<button onclick="joinGroup(0)">leaveGroup</button>
<button onclick="addFriend(1)">ADD FRIEND</button>
<button onclick="addFriend(0)">REMOVE FRIEND</button>
<button onclick="reset()">REINITIALISER</button>
</div>
</body>

<?php isset($_GET['id']) ? $id = $_GET['id'] :false; ?>
<div id="userId" value="<?=$id?>"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="script.js"></script>
</html>